/* STYLE FOR HOME PAGE COMPONENTS */
.contents{
    margin-left: 30px;
    width: 93%;
}
.topics{
    text-align: left;
    margin-left: 15px;
}
.ad{
    width: 95%;
}
.premiere{
    width: 100%;
}
.premierebg{
    background-color: #2b3149;
    padding: 10px;
    margin:0;
    width: 100%;
}

/* STYLE FOR TOGGLE TAG COMPONENT */
.toggleContents{
    display: inline-block;
}
input[type="checkbox"]{
    display: none;
}
.round-toggle{
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    color:rgb(198, 43, 43);
    border-radius: 20px;
    font-size: small;
    min-width: 55px;
}
.square-toggle{
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    color:rgb(198, 43, 43);
    border-radius: 2px;
    font-size: small;
    min-width: 55px;
}
input[type="checkbox"]:checked + .round-toggle{
    background-color:rgb(198, 43, 43);
    color: white;
}
input[type="checkbox"]:checked + .square-toggle{
    background-color:rgb(198, 43, 43);
    color: white;
}

/* STYLE FOR SIDEBAR COMPONENT */
.sidebar{
    margin: 50px 100px 20px 20px;
    width: 333px;
    height: 500px;
    float: left;
    /* border: 1px solid grey; */
}

/* STYLE FOR SUBMENU COMPONENT */
.sidebar-menu{
    display: block;
    border: 1px solid lightgrey;
    /* background-color: lightgrey; */
}
ul{
    list-style-type: none;
}
.sidebar-title{
    cursor: pointer;
    justify-content: space-between;
}
.sidebar-title.open{
    color: rgb(198, 43, 43);
}
.arrow{
    float: left;
    transition: transform .3s;
    /* border: 1px solid black; */
    margin-top: 13px;
}
.sidebar-menu.open .arrow{
    transform: rotate(180deg);
    transition: transform .3s;
    float: left;
}
.title{
    display: inline;
    height: 100%;
    width: 100%;
    line-height: 50px;
    margin: 7px 15px 7px 1px;
    /* background-color: aliceblue; */
    padding: 8px;
    justify-content: space-between;
}
.sidebar-content{
    height: 0;
    overflow: hidden;
    /* background-color: aliceblue; */
    margin-top: 0;
}
.sidebar-menu.open .sidebar-content{
    height: auto;
    padding: 5px;
}

/* STYLE FOR GRID COMPONENT */
.container{
    margin-top: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 8px;
    /* border: 1px solid blue; */
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    /* grid-auto-flow: row; */
    margin: 10px;
}

/* STYLE FOR AVATAR PAGE COMPONENTS */
.top-display{
    background-color: #2b3149;
    margin: 0;
    padding: 40px 40px 40px 140px;
}
.movie-container{
    float: right;
    margin-right: 300px;
    color: rgb(255, 255, 255);
}
.add-rating{
    background-color: rgb(101, 96, 96);
    color: white;
    display: flow-root;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.add-rating .rating-text{
    float: left;
    padding-left: 50px;
    margin: 5px;
}
.add-rating .rate-btn{
    float: right;
    text-decoration: none;
    color: black;
    background-color:lightgray;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    margin-right: 30px;
}
.book-button{
    margin-top: 30px;
}
.book-button .book-btn{
    text-decoration: none;
    color: white;
}
.book-button #BookSpan{
    background-color:rgb(198, 43, 43);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}
.movie-desc{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 10px 50px;
}
.hori-line{
    margin: 50px;
}
#cast-head{
    margin-left: 50px;
    margin-bottom: 10px;
}
.cast{
    display: flex;
    flex-direction: row;
    margin: 5px 50px 5px 50px;
}