.Topics{
    text-align: left;
    margin-left: 25px;
}
.ad{
    width: 95%;
}
.contents{
    margin-left: 30px;
    width: 93%;
}
.premiere{
    width: 100%;
}
.premierebg{
    background-color: #2b3149;
    padding: 10px;
    margin:0;
    width: 100%;
}
input[type="checkbox"]{
    display: none;
}
.round-toggle{
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    color:rgb(198, 43, 43);
    border-radius: 20px;
    font-size: small;
    min-width: 55px;
}
.square-toggle{
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    color:rgb(198, 43, 43);
    border-radius: 2px;
    font-size: small;
    min-width: 55px;
}
.toggleContents{
    display: inline-block;
}
input[type="checkbox"]:checked + .round-toggle{
    background-color:rgb(198, 43, 43);
    color: white;
}
input[type="checkbox"]:checked + .square-toggle{
    background-color:rgb(198, 43, 43);
    color: white;
}
ul{
    list-style-type: none;
}
.sidebar{
    margin: 50px 100px 20px 20px;
    width: 333px;
    height: 500px;
    float: left;
    /* border: 1px solid grey; */
}
.title{
    display: inline;
    height: 100%;
    width: 100%;
    line-height: 50px;
    margin: 7px 15px 7px 1px;
    /* background-color: aliceblue; */
    padding: 8px;
    justify-content: space-between;
}
.container{
    margin-top: 50px;
}
.sidebar-menu{
    display: block;
    border: 1px solid lightgrey;
    /* background-color: lightgrey; */
}
.sidebar-title{
    cursor: pointer;
    justify-content: space-between;
}
.sidebar-content{
    height: 0;
    overflow: hidden;
    /* background-color: aliceblue; */
    margin-top: 0;
}
.sidebar-menu.open .sidebar-content{
    height: auto;
    padding: 5px;
}
.sidebar-menu.open .arrow{
    transform: rotate(180deg);
    transition: transform .3s;
    float: left;
}
.arrow{
    float: left;
    transition: transform .3s;
    /* border: 1px solid black; */
    margin-top: 13px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 8px;
    /* border: 1px solid blue; */
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    /* grid-auto-flow: row; */
    margin: 10px;
}
.grid-item{
    border: 1px solid black;
    text-align: center;
}