.Topics{
    text-align: left;
    margin-left: 25px;
}
.ad{
    width: 95%;
}
.contents{
    margin-left: 30px;
    width: 93%;
}
.premiere{
    width: 100%;
}
.premierebg{
    background-color: #2b3149;
    padding: 10px;
    margin:0;
    width: 100%;
}