.Topics{
    text-align: left;
    margin-left: 25px;
}
.ad{
    width: 95%;
}
.contents{
    margin-left: 30px;
    width: 93%;
}
.premiere{
    width: 100%;
}
.premierebg{
    background-color: #2b3149;
    padding: 10px;
    margin:0;
    width: 100%;
}
input[type="checkbox"]{
    display: none;
}
#language{
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    color:rgb(198, 43, 43);
    border-radius: 20px;
    font-size: small;
    min-width: 55px;
}
.toggleContents{
    display: inline;
}
input[type="checkbox"]:checked + #language{
    background-color:rgb(198, 43, 43);
    color: white;
}
.sidebar{
    width: 300px;
    height: 500px;
    margin: 20px;
    background-color: aliceblue;
    border: 1px solid grey;
    display: flex;
    color: black;
}
.container{
    flex-grow: 1;
    background-color: lightpink;
    padding: 2em;
    display: flex;
    flex-direction: column;
}