/*
.NavContainer{
    border: 1px solid black;
}
*/
.UpperContainer{
    /*border: 1px solid brown;*/
    background-color:rgb(31, 40, 40);
}
.LowerContainer{
    /*border: 1px solid brown;*/
    background-color:rgb(18, 20, 20);
}
.UContents{
    margin: 0px 50px 0px 50px;
    display:flow-root;
    /*border: 1px solid blue;*/
}
.LContents{
    margin: 0px 50px 0px 50px;
    /*border: 1px solid blue;*/
    display:flow-root;
}
.Logo{
    /*border: 1px solid black;*/
    color: white;
    display:unordered-list-item;
    float: left;
    margin-top: 20px;
}
h4 span{
    background-color:rgb(198, 43, 43);
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.City{
    /*border: 1px solid black;*/
    display:unordered-list-item;
    float: right;
    margin-top: 25px;
}
.Auth{
    /*border: 1px solid black;*/
    display:unordered-list-item;
    float:right;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 25px;
    text-decoration: none;
}
#authSpan{
    background-color:rgb(198, 43, 43);
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    
}
#citySpan{
    /*background-color:gray;*/
    color: white;
    border-radius: 2px;
    padding: 8px 20px 8px 20px;
}
.Menu{
    /*border: 1px solid black;*/
    color: white;
    display:unordered-list-item;
    float:right;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 25px;
}
#menuSpan{
    padding: 0px 20px 0px 20px;
    font-size: large;
}
.SearchIcon{
    color: black;
    padding: 6px;
    /*border: 1px solid black;*/
    display: unordered-list-item;
    float: left;
    margin-top: 5px;
}
.Searchbar{
    height: 100%;
    width: 45%;
    margin: 13px;
    border: 1px solid gray;
    border-radius: 5px;
    display:unordered-list-item;
    float:left;
    background-color: aliceblue;
}
#searchInput{
    padding: 10px;
    border: none;
    display: unordered-list-item;
    float: left;
    background-color: aliceblue;
}
#searchInput:focus{
    outline: none;
}
.Home{
    text-decoration: none;
    color: white;
}
.Movies, .Stream, .Events, .Plays, .Sports, .Activities, .Buzz{
    display: unordered-list-item;
    float: left;
    /*border: 1px solid black;*/
    padding: 9px;
    text-decoration: none;
    font-size: small;
    color:lightgray;
}
.Movies:hover, .Stream:hover, .Events:hover, .Plays:hover, .Sports:hover, .Activities:hover, .Buzz:hover{
    color: white;
}
.List, .Corporates, .Offers, .Gift{
    display: unordered-list-item;
    float: right;
    /*border: 1px solid black;*/
    padding: 9px;
    text-decoration: none;
    font-size: small;
    color: lightgrey;
}
.List:hover, .Corporates:hover, .Offers:hover, .Gift:hover{
    color: white;
}
